altgraph==0.17.4
bottle==0.12.25
bottle-websocket==0.2.9
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
comtypes==1.2.0
docutils==0.20.1
Eel==0.16.0
future==1.0.0
fuzzywuzzy==0.18.0
gevent==24.2.1
gevent-websocket==0.10.1
greenlet==3.0.3
idna==3.4
importlib_metadata==7.1.0
Kivy==2.2.1
kivy-deps.angle==0.3.3
kivy-deps.glew==0.3.1
kivy-deps.sdl2==0.6.0
Kivy-Garden==0.1.5
packaging==24.0
pefile==2023.2.7
PyAudio==0.2.14
pycparser==2.22
Pygments==2.17.2
pyinstaller-hooks-contrib==2024.5
pyparsing==3.1.2
pypiwin32==223
pyttsx3==2.90
pywin32==306
pywin32-ctypes==0.2.2
requests==2.31.0
SpeechRecognition==3.10.0
urllib3==2.1.0
whichcraft==0.6.1
zipp==3.18.1
zope.event==5.0
zope.interface==6.3
